[Unit]
Description=tvplayer
After=network.target

[Service]
WorkingDirectory=/var/git/onepiecetv/
ExecStart=/usr/bin/python3 /var/git/onepiecetv/player.py
Restart=always

[Install]
WantedBy=multi-user.target
